/* Default settings */
  
  /* all */
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
    -webkit-appearance: none;
  }

  body {
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Segoe UI", "メイリオ", "Meiryo",sans-serif;
  }
  a, a:visited {
    color:#0000EE;
    text-decoration:none;
  }
  
  /* footer */
  .footer {
    background:#2E75B6;
    text-align:center;
    padding:20px 0 17px 0;
    color:white;
    font-size:16px;
  }
  
  /* container */
  .container {
    background:#F2EFE;
  }
  
  /* main */
  .main {
    width:100%;
    margin: 0 auto;
    padding-top:53px;
    display:flex;
  }

  /* content */
  .content {
    float:right;
    width:100%;
  }
  
  /* entry */
  .entry {
    background:white;
  }
  
  /* side */
  .side {
    display:none;
  }

  /* header */
  .header {
    background:#fff;
    display:flex;
    height:53px;
    border-bottom:1px solid #cccccf;
    position:fixed;
    width:100%;
  }

  /* tags */
  .header_site_title {
    width:180px;
  }
  .header_site_title a {
    background:#2E75B6;
    display:block;
    width:100%;
    text-align:center;
    padding:11px 0;
    height:100%;
  }

  .header_company_name {
    width:calc(100% - 180px - 120px * 5);
    background:white;
    font-size:14px;
    color:#666;
    padding-top:16px;
    padding-left:20px;
  }
  .header_company_name p {
    display:inline;
  }

  .header_site_title img {
    width:95px;
    vertical-align:middle;
  }
  .header_menu_button {
    display:none;
  }
  .header_menu {
    width:calc(120px * 5);
    display:flex;
    background:white;
  }
  .header_menu li {
    width:120px;
  }
  .header_menu a {
    display:block;
    width:100%;
    height:100%;
    padding-top:17px;
    display:block;
    color:#444;
    font-size:14px;
    font-weight:bold;
    text-align:center;
  }
  .header_menu a:hover {
    opacity:0.8;
  }
  
  /* トップページ サービス */
  .index_service {
    padding:30px 0;
    padding-bottom:50px;
    border-bottom:1px solid #ddd;
  }
  .index_service h2 {
    font-size:29px;
    text-align:center;
    margin-bottom:30px;
  }
  .index_service ul {
    width:calc(100% - 16px);
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-wrap:wrap;
  }
  .index_service li {
    width:calc(50% - 20px);
    margin-left:10px;
    margin-right:10px;
    padding:10px;
    background:#2E75B6;
    color:white;
    text-align:center;
    font-size:20px;
    padding:30px 15px;
  }
  .index_service_title {
    font-size:25px;
    font-weight:bold;
  }
  
  /* トップページ ニュース */
  .index-news {
    padding:50px 0;
    border-bottom:1px solid #eeeeef;
  }
  .index-news h2 {
    text-align:center;
    font-size:29px;
    letter-spacing:3px;
  }
  .index-news table {
    width:calc(100% - 30px);
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    margin-top:15px;
  }
  .index-news th {
    white-space:nowrap;
    padding:15px;
    text-align:left;
  }
  .index-news td {
    padding:15px;
  }
  
  /* トップページ 会社案内 */
  .index-content-list {
    padding:50px 0 60px 0;
  }
  .index-content-list h2 {
    text-align:center;
    font-size:29px;
    letter-spacing:3px;
    margin-bottom:30px;
  }
  .index-content-list a, .index-content-list a:visited {
    color:#333;
    display:block;
  }
  .index-content-list ul {
    display:flex;
    flex-wrap:wrap;
    width:calc(100% - 30px);
    max-width:960px;
    margin:0 auto;
  }
  .index-content-list li {
    width:33.3%;
    text-align:center;
    font-size:19px;
    line-height:1.8;
  }
  .index-content-list b {
    letter-spacing:2px;
    margin-bottom:5px;
    font-size:105%;
    display:block;
  }
  .index-content-list a, .index-content-list:visited {
    color:#333;
  }
  .index-content-list a:hover {
    opacity:0.8;
  }

  /* トップページ 見積もり */
  .index-mitumori {
    border-top:1px solid #eeeeef;
    padding-top:60px;
    padding-bottom:60px;
  }
  .index-mitumori h2 {
    font-size:36px;
    text-align:center;
    letter-spacing:8px;
    padding-bottom:25px;
  }
  .index-mitumori-button {
    text-align:center;
  }
  .index-mitumori-button a {
    display:block;
    background:#FFBF51;
    color:white;
    font-size:36px;
    padding:25px 0;
    border-radius:5px;
    margin-bottom:25px;
    width:calc(100% - 30px);
    max-width:650px;
    margin-left:auto;
    margin-right:auto;
    letter-spacing:5px;
  }
  .index-mitumori-tel-message {
    text-align:center;
    color:#444;
    padding:10px 0 0 0;
    letter-spacing:3px;
  }
  .index-mitumori-tel {
    text-align:center;
  }
  .index-mitumori-tel-number {
    font-size:40px;
    border-bottom:1px dashed #ffab36;
    display:inline-block;
    padding:5px 5px 0px 5px;
  }
  .index-mitumori-tel-number a {
    color:#FFBF51;
    letter-spacing:8px;
    font-size:53px;
  }
  .index-mitumori-jikan {
    text-align:center;
    color:#444;
    padding:10px;
    letter-spacing:1px;
  }

  /* サービス */
  .services {
    padding-bottom:50px;
  }
  .services h2 {
    font-size:32px;
    background: #1E65A6;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-position:50% 50%;
    color:black;
    color:white;
    padding-top:30px;
    padding-bottom:30px;
  }
  .services h2 a, .services h2 a:visited {
    text-decoration:none;
    letter-spacing:1px;
  }
  .services_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .services h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .services h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .services p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }

  .services ul {
    width:calc(100% - 16px);
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-wrap:wrap;
  }
  .services li {
    width:calc(50% - 4px);
    border:1px solid #ddd;
    margin-top:4px;
    margin-bottom:4px;
  }
  .services li:nth-child(2n + 1) {
    margin-right:4px;
  }
  .services li:nth-child(2n) {
    margin-left:4px;
  }
  .services li a {
    display:block;
    width:100%;
    padding:10px;
    color:#33f;
    height:100%;
    color:#2F2F22;
  }
  .services li a:hover {
    opacity:0.8;
  }
  .services li img {
    vertical-align:-17px;
    margin-right:10px;
  }

  /* 開発実績 */
  .achieve {
    padding-bottom:50px;
  }
  .achieve h2 {
    font-size:32px;
    background: #1E65A6;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-position:50% 50%;
    color:black;
    color:white;
    padding-top:30px;
  }
  .achieve h2 a, .achieve h2 a:visited {
    text-decoration:none;
    letter-spacing:1px;
  }
  .achieve_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .achieve h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .achieve h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .achieve p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }

  .achieve ul {
    width:calc(100% - 16px);
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
  }
  .achieve li {
    width:100%;
    border:1px solid #ddd;
    margin-top:4px;
    margin-bottom:4px;
  }
  .achieve li a {
    display:block;
    width:100%;
    padding:20px;
    color:#33f;
    height:100%;
    color:#2F2F22;
  }
  .achieve li a:hover {
    opacity:0.8;
  }
  .achieve li img {
    vertical-align:-17px;
    margin-right:10px;
  }

  
  /* 会社情報 */
  .corporate h2 {
    font-size:32px;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-image:url(/images/corporate/corporate-image.jpg);
    background-position:50% 50%;
    color:white;
    height:300px;
    padding-top:140px;
  }
  .corporate h2 a, .corporate h2 a:visited {
    text-decoration:none;
  }
  .corporate_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .corporate h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .corporate h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .corporate p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }
  .corporate table {
    border-collapse: collapse;
    margin-left:15px;
    width:100%;
    max-width:1080px;
    margin-left:auto;
    margin-right:auto;
    font-size:15px;
    margin-bottom:50px;
    margin-top:50px;
  }
  
  .corporate table tr {
    border:1px solid #83b0de;
    border-right:none;
    border-left:none;
  }

  .corporate table th {
    padding:7px;
    background:#dbedff;
    font-weight:bold;
    padding:20px 20px;
    font-size:14px;
    color:#000;
  }

  .corporate table td {
    padding:7px;
    padding:20px 20px;
  }

  /* 学習教材 */
  .learning h2 {
    font-size:32px;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-image:url(/images/learning/learning-image.jpg);
    background-position:50% 50%;
    color:white;
    height:300px;
    padding-top:140px;
  }
  .learning h2 a, .learning h2 a:visited {
    text-decoration:none;
  }
  .learning_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #2E75B6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .learning h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .learning h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .learning p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }

  .learning table {
    border-collapse:collapse;
    width:100%;
  }
  .learning td {
    width:50%;
    border:1px solid #ddd;
  }
  .learning td a {
    display:block;
    width:100%;
    padding:30px 10px;
    color:#33f;
    height:100%;
    color:#2F2F22;
  }
  .learning td a:hover {
    opacity:0.8;
  }
  .learning td img {
    vertical-align:-17px;
    margin-right:10px;
  }
  
  /* アクセス */
  .access-container {
    width:calc(100% - 30px);
    max-width:1080px;
    margin-left:auto;
    margin-right:auto;
  }
  
  /* 採用情報 */
   .recruit {
     padding-bottom:80px;
   }
  .recruit h2 {
    font-size:32px;
    background: #1E65A6;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-position:50% 50%;
    color:black;
    color:white;
    padding-top:30px;
  }
  .recruit h2 a, .recruit h2 a:visited {
    text-decoration:none;
  }
  .recruit_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 10px;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }
  
  .recruit_description {
    width:100%;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
    color:#333;
    text-align:center;
  }

  .recruit h3 {
    font-size:26px;
    padding:6px 0px 5px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:50px;
    color:#3c3c33;
    text-align:center;
  }
  .recruit h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .recruit p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }
  .recruit table {
    border-collapse: collapse;
    margin-left:15px;
    width:100%;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
    font-size:15px;
    margin-bottom:0px;
    margin-top:20px;
  }
  
  .recruit table tr {
    border:1px solid #83b0de;
    border-right:none;
    border-left:none;
  }

  .recruit table th {
    padding:7px;
    background:#dbedff;
    font-weight:bold;
    padding:20px 20px;
    font-size:14px;
    color:#000;
    width:250px;
  }

  .recruit table td {
    padding:7px;
    padding:20px 20px;
  }
  .recruit ul {
    width:100%;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
  }
  .recruit ul li {
    border:1px solid #ddd;
    border-bottom:none;
  }
  .recruit ul li:last-child {
    border-bottom:1px solid #ddd;
  }
  .recruit ul li a {
    display:block;
    width:100%;
    padding:20px 10px 18px 10px;
    color:#554;
  }
  .recruit ul li a:hover {
    opacity:0.8;
  }

  /* 代表メッセージ */
  .message {
    padding-bottom:80px;
  }
  .message h2 {
    font-size:32px;
    background: #1E65A6;
    margin:0;
    padding:20px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-position:50% 50%;
    color:black;
    color:white;
  }
  .message h2 a, .message h2 a:visited {
    text-decoration:none;
  }
  .message_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 10px;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }
  .message_image {
    font-size:32px;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    color:white;
  }
  .message_image img {
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-width:550px;
    width:100%;
  }
  .message_description {
    width:100%;
    max-width:960px;
    margin-left:auto;
    margin-right:auto;
    color:#333;
    text-align:center;
  }
  .message p {
    width:calc(100% - 30px);
    max-width:680px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    margin-bottom:20px;
  }
  .message h3 {
    font-size:26px;
    padding:6px 0px 5px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:20px;
    color:#3c3c33;
    text-align:center;
  }
  /* メールフォーム */
  .mail-form {
    background:#fff6e6;
    padding-bottom:30px;
  }
  .mail-form h2 {
    font-size:32px;
    background: #fcae28;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    color:white;
    padding-top:23px;
    padding-bottom:20px;
  }
  .mail-form form {
    width:calc(100% - 30px);
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    padding-top:30px;
  }
  .mail-form-title {
    font-weight:bold;
    margin-bottom:0px;
    letter-spacing:1px;
    font-size:17px;
  }
  .mail-form-body {
    margin-bottom:25px;
  }
  .mail-form input[type=text] {
    width:100%;
    padding:10px 10px;
    font-size:20px;
    border:1px solid #e3c791;
  }
  .mail-form input[type=radio] {
    display:none;
  }
  .mail-form-radio li {
    border:1px solid #e3c791;
    border-bottom:none;
    background:white;
  }
  .mail-form-radio li:first-child {
    border-radius:5px 5px 0 0;
  }
  .mail-form-radio li:last-child {
    border-bottom:1px solid #e3c791;
    border-radius:0 0 5px 5px;
  }
  .mail-form-radio label {
    display:block;
    padding:10px 20px 10px 50px;
    cursor:pointer;
  }
  .mail-form input[type=radio]:checked + label {
    background:url(/images/mail/check.png) no-repeat;
    background-size:30px;
    background-position:12px 20px;
  }
  .mail-form select {
    width:100%;
    padding:10px 10px;
    font-size:20px;
    border:1px solid #e3c791;
  }
  .mail-form textarea {
    width:100%;
    min-height:400px;
    font-size:20px;
    padding:10px 10px;
    border:1px solid #e3c791;
  }
  .mail-form button {
    width:100%;
    background:#F5A41B;
    color:white;
    border:none;
    font-size:27px;
    border-radius:5px;
    margin-bottom:30px;
    padding:20px 0 17px 0;
    cursor:pointer;
  }
  .mail-form-success {
    width:calc(100% - 30px);
    max-width:600px;
    margin:30px auto;
    padding:20px 20px;
    border:1px solid #1dd13e;
    background:#f5fcf5;
    border-radius:10px;
    line-height:1.8;
    color:#002000;
    display:none;
  }
  .mail-form-errors {
    width:calc(100% - 30px);
    max-width:600px;
    margin:30px auto;
    background:#fff6f5;
    border-radius:10px;
    line-height:1.8;
    color:red;
    display:none;
  }
  .mail-form-note {
    margin-bottom:30px;
  }
  .mail-form-note p {
    color:#333;
    margin-bottom:10px;
  }
  .footer {
    margin-top:0;
  }

/* Tablet and Smart phone */
@media only screen and (max-width:960px) {
  .header {
    flex-wrap:wrap;
    margin-bottom:10px;
    border-bottom:none;
  }
  
  /* tags */
  .header_site_title {
    width:120px;
  }
  .header_site_title a {
    border-bottom:1px solid #ddd;
  }
  .header_menu_button {
    display:block;
    width:52px;
    background:#2E75B6;
    cursor:pointer;
    border-bottom:1px solid #ddd;
  }
  .header_menu_button img {
    width:100%;
  }
  
  .header_menu {
    width:100%;
    flex-wrap:wrap;
    display:none;
  }
  .header_menu li {
    width:100%;
    border-bottom:1px solid #ddd;
  }
  .header_menu a {
    color:white;
    font-size:16px;
    font-weight:normal;
    padding:0;
    padding:15px 0 13px 0;
    background:#2E75B6;
  }
  .header_menu a:hover {
    opacity:1;
    background:#3E85C6
  }

  .learning table {
    border-bottom:1px solid #ddd;
  }
  .learning td {
    display:block;
    border-bottom:none;
    width:100%;
  }
  .header_company_name {
    width:calc(100% - 120px - 52px);
    border-bottom:1px solid #eeeeef;
    padding-top:7px;
    padding-left:0;
    padding-right:0;
    text-align:center;
  }
  .header_company_name p {
    display:block;
  }

  /* 採用情報 */
  .recruit table {
  }
  
  .recruit table tr {
  }

  .recruit table th {
    width:140px;
  }

  .recruit table td {
  }

  .learning h2 {
    background-position:35% 50%;
    background-size:600px;
  }

  .corporate h2 {
    background-position:90% 25%;
    background-size:600px;
  }
  
  /* コンテンツ一覧 */
  .index-content-list li {
    width:50%;
  }

  /* トップページ 見積もり */
  .index-mitumori h2 {
    font-size:30px;
    letter-spacing:3px;
  }
  .index-mitumori-button {
  }
  .index-mitumori-button a {
    font-size:26px;
    letter-spacing:3px;
  }
  .index-mitumori-tel-message {
    letter-spacing:0;
  }
  .index-mitumori-tel {
  }
  .index-mitumori-tel-number {
    font-size:26px;
    letter-spacing:3px;
  }
  .index-mitumori-tel-number a {
    font-size:30px;
    letter-spacing:3px;
  }
  .index-mitumori-jikan {
    letter-spacing:0;
  }
  
  /* トップページ サービス */
  .index_service li {
    width:100%;
    margin:10px auto;
  }
}
