/* Default settings */
  
  /* all */
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
    -webkit-appearance: none;
  }
  body {
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Segoe UI", "メイリオ", "Meiryo",sans-serif;
  }
  a, a:visited {
    color:#0000EE;
    text-decoration:none;
  }
  
  /* footer */
  .footer {
    background:#2E75B6;
    text-align:center;
    padding:13px 0;
    color:white;
    font-size:16px;
  }
  
  /* container */
  .container {
    background:#F2EFE;
  }
  
  /* main */
  .main {
    width:100%;
    margin: 0 auto;
    padding-top:47px;
    display:flex;
  }

  /* content */
  .content {
    float:right;
    width:100%;
  }
  
  /* entry */
  .entry {
    background:white;
  }
  
  /* side */
  .side {
    display:none;
  }

  /* header */
  .header {
    margin:0 auto;
    background:#fff;
    border-bottom:1px solid #D9D9D0;
    display:flex;
  }

  .header_title {
    display:flex;
    position:fixed;
    width:100%;
    height:48px;
    border-bottom:1px solid #cccccf;
  }

  /* tags */
  .site_title {
    width:180px;
  }
  .site_title a {
    background:#2E75B6;
    display:block;
    width:100%;
    text-align:center;
    padding:9px 0;
    height:100%;
  }

  .header_padding {
    width:calc(100% - 180px - 120px * 5);
    background:white;
    font-size:12px;
    color:#666;
    padding-top:16px;
    padding-left:18px;
  }

  .site_title img {
    width:95px;
    vertical-align:middle;
  }
  .header_menu_button {
    display:none;
  }
  .header_menu {
    width:calc(120px * 5);
    display:flex;
    background:white;
  }
  .header_menu li {
    width:120px;
  }
  .header_menu li img {
    width:16px;
    vertical-align:-2px;
    margin-right:5px;
  }
  .header_menu a {
    display:block;
    width:100%;
    height:100%;
    padding-top:14px;
    display:block;
    color:#444;
    font-size:14px;
    font-weight:bold;
    text-align:center;
  }
  .header_menu a:hover {
    opacity:0.8;
  }
  
  /* トップページ 見積もり */
  .index-mitumori {
    padding-top:80px;
    padding-bottom:80px;
  }
  .index-mitumori h2 {
    font-size:38px;
    text-align:center;
    letter-spacing:8px;
    padding-bottom:25px;
  }
  .index-mitumori-button {
    text-align:center;
  }
  .index-mitumori-button a {
    display:block;
    background:#FFBF51;
    color:white;
    font-size:36px;
    padding:25px 0;
    border-radius:5px;
    margin-bottom:25px;
    width:calc(100% - 30px);
    max-width:650px;
    margin-left:auto;
    margin-right:auto;
    letter-spacing:5px;
  }
  .index-mitumori-tel-message {
    text-align:center;
    color:#444;
    padding:10px 0 0 0;
    letter-spacing:3px;
  }
  .index-mitumori-tel {
    text-align:center;
  }
  .index-mitumori-tel-number {
    font-size:40px;
    border-bottom:1px dashed #ffab36;
    display:inline-block;
    padding:5px 5px 0px 5px;
  }
  .index-mitumori-tel-number a {
    color:#FFBF51;
    letter-spacing:8px;
    font-size:53px;
  }
  .index-mitumori-jikan {
    text-align:center;
    color:#444;
    padding:10px;
    letter-spacing:1px;
  }

  /* サービス */
  .services h2 {
    font-size:32px;
    background: #1E65A6;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-position:50% 50%;
    color:black;
    color:white;
    padding-top:30px;
  }
  .services h2 a, .services h2 a:visited {
    text-decoration:none;
  }
  .services_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .services h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .services h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .services p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }

  .services ul {
    width:calc(100% - 16px);
    margin-left:auto;
    margin-right:auto;
    display:flex;
    flex-wrap:wrap;
  }
  .services li {
    width:calc(50% - 4px);
    border:1px solid #ddd;
    margin-top:4px;
    margin-bottom:4px;
  }
  .services li:nth-child(2n + 1) {
    margin-right:4px;
  }
  .services li:nth-child(2n) {
    margin-left:4px;
  }
  .services li a {
    display:block;
    width:100%;
    padding:10px;
    color:#33f;
    height:100%;
    color:#2F2F22;
  }
  .services li a:hover {
    opacity:0.8;
  }
  .services li img {
    vertical-align:-17px;
    margin-right:10px;
  }

  
  /* 会社情報 */
  .corporate h2 {
    font-size:32px;
    background: #1E65A6;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-position:50% 50%;
    color:black;
    color:white;
    padding-top:30px;
  }
  .corporate h2 a, .corporate h2 a:visited {
    text-decoration:none;
  }
  .corporate_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .corporate h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .corporate h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .corporate p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }
  .corporate table {
    border-collapse: collapse;
    margin-left:15px;
    width:100%;
    max-width:1080px;
    margin-left:auto;
    margin-right:auto;
    font-size:15px;
    margin-bottom:50px;
    margin-top:50px;
  }
  
  .corporate table tr {
    border:1px solid #83b0de;
    border-right:none;
    border-left:none;
  }

  .corporate table th {
    padding:7px;
    background:#dbedff;
    font-weight:bold;
    padding:20px 20px;
    font-size:14px;
    color:#000;
  }

  .corporate table td {
    padding:7px;
    padding:20px 20px;
  }

  /* 学習教材 */
  .learning h2 {
    font-size:32px;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-image:url(/images/learning/learning-image.jpg);
    background-position:50% 50%;
    color:white;
    height:300px;
    padding-top:140px;
  }
  .learning h2 a, .learning h2 a:visited {
    text-decoration:none;
  }
  .learning_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #2E75B6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .learning h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .learning h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .learning p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }

  .learning table {
    border-collapse:collapse;
    width:100%;
  }
  .learning td {
    width:50%;
    border:1px solid #ddd;
  }
  .learning td a {
    display:block;
    width:100%;
    padding:30px 10px;
    color:#33f;
    height:100%;
    color:#2F2F22;
  }
  .learning td a:hover {
    opacity:0.8;
  }
  .learning td img {
    vertical-align:-17px;
    margin-right:10px;
  }
  
  /* アクセス */
  .access-container {
    width:calc(100% - 30px);
    max-width:1080px;
    margin-left:auto;
    margin-right:auto;
  }
  
  /* 採用情報 */
  .recruit h2 {
    font-size:32px;
    background: #1E65A6;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-position:50% 50%;
    color:black;
    color:white;
    padding-top:30px;
  }
  .recruit h2 a, .recruit h2 a:visited {
    text-decoration:none;
  }
  .recruit_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }
  
  .recruit_description {
    width:100%;
    max-width:1080px;
    margin-left:auto;
    margin-right:auto;
  }

  .recruit h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .recruit h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .recruit p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }
  .recruit table {
    border-collapse: collapse;
    margin-left:15px;
    width:100%;
    max-width:1080px;
    margin-left:auto;
    margin-right:auto;
    font-size:15px;
    margin-bottom:50px;
    margin-top:50px;
  }
  
  .recruit table tr {
    border:1px solid #83b0de;
    border-right:none;
    border-left:none;
  }

  .recruit table th {
    padding:7px;
    background:#dbedff;
    font-weight:bold;
    padding:20px 20px;
    font-size:14px;
    color:#000;
    width:250px;
  }

  .recruit table td {
    padding:7px;
    padding:20px 20px;
  }

  /* メールフォーム */
  .mail-form {
    background:#fff6e6;
  }
  .mail-form h2 {
    font-size:32px;
    background: #fcae28;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    color:white;
    padding-top:16px;
    padding-bottom:13px;
  }
  .mail-form form {
    width:calc(100% - 30px);
    max-width:600px;
    margin-left:auto;
    margin-right:auto;
    padding-top:30px;
  }
  .mail-form-title {
    font-weight:bold;
    margin-bottom:3px;
    letter-spacing:1px;
  }
  
  .mail-form label {
    margin-bottom:19px;
    display:block;
    font-size:20px;
  }
  .mail-form input {
    width:100%;
    padding:10px 5px;
    font-size:20px;
    border:1px solid #e3c791;
  }
  .mail-form textarea {
    width:100%;
    min-height:400px;
    font-size:20px;
    padding:10px 5px;
    border:1px solid #e3c791;
  }
  .mail-form button {
    width:100%;
    background:#F5A41B;
    color:white;
    border:none;
    font-size:27px;
    border-radius:5px;
    margin-bottom:30px;
    padding:20px 0 17px 0;
    cursor:pointer;
  }
  .mail-form-success {
    padding-top:30px;
    padding-bottom:30px;
  }
  .mail-form-errors {
    color:red;
  }
  .footer {
    margin-top:0;
  }

/* Tablet and Smart phone */
@media only screen and (max-width:960px) {
  .header_title {
    flex-wrap:wrap;
    margin-bottom:10px;
    border-bottom:none;
  }
  
  /* tags */
  .site_title {
    width:calc(100% - 46px);
  }
  .site_title a {
    background:#2E75B6;
    display:block;
    width:100%;
    text-align:center;
    padding:9px 0;
    height:100%;
    border-bottom:1px solid #ddd;
  }
  .header_menu_button {
    display:block;
    width:46px;
    background:#2E75B6;
    cursor:pointer;
    border-bottom:1px solid #ddd;
  }
  .header_menu_button img {
    width:100%;
  }
  
  .header_menu {
    width:100%;
    flex-wrap:wrap;
    display:none;
  }
  .header_menu li {
    width:100%;
    border-bottom:1px solid #ddd;
  }
  .header_menu li img {
    display:none;
  }
  .header_menu a {
    color:white;
    font-size:16px;
    font-weight:normal;
    padding:0;
    padding:10px 0 8px 0;
    background:#2E75B6;
  }
  .header_menu a:hover {
    opacity:1;
    background:#3E85C6
  }

  .learning table {
    border-bottom:1px solid #ddd;
  }
  .learning td {
    display:block;
    border-bottom:none;
    width:100%;
  }
  .header_padding {
    display:none;
  }

  /* トップページ 見積もり */
  .index-mitumori {
  }
  .index-mitumori h2 {
    font-size:28px;
    letter-spacing:3px;
  }
  .index-mitumori-button {
  }
  .index-mitumori-button a {
    font-size:26px;
    letter-spacing:3px;
  }
  .index-mitumori-tel-message {
    letter-spacing:0;
  }
  .index-mitumori-tel {
  }
  .index-mitumori-tel-number {
    font-size:26px;
    letter-spacing:3px;
  }
  .index-mitumori-tel-number a {
    font-size:30px;
    letter-spacing:3px;
  }
  .index-mitumori-jikan {
    letter-spacing:0;
  }

}
