/* Default settings */
  
  /* all */
  * {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style:none;
  }
  body {
    font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Segoe UI", "メイリオ", "Meiryo",sans-serif;
  }
  a, a:visited {
    color:#0000EE;
    text-decoration:none;
  }
  
  /* footer */
  .footer {
    background:#1A1A1A;
    text-align:center;
    padding:15px 0;
    border-top:1px solid #ccc;
    height:58px;
  }
  .footer a, .footer a:visited {
    color:#666666;
  }
  
  /* container */
  .container {
    background:#F2EFE;
  }
  
  /* main */
  .main {
    width:100%;
    margin: 0 auto;
    padding-top:47px;
    display:flex;
  }

  /* content */
  .content {
    float:right;
    width:100%;
  }
  
  /* entry */
  .entry {
    background:white;
  }
  
  /* side */
  .side {
    display:none;
  }

  /* header */
  .header {
    margin:0 auto;
    background:#fff;
    border-bottom:1px solid #D9D9D0;
    display:flex;
  }

  .header_title {
    display:flex;
    position:fixed;
    width:100%;
    height:48px;
    border-bottom:1px solid #cccccf;
  }
  
  /* tags */
  .site_title {
    width:180px;
  }
  .site_title a {
    background:#2E75B6;
    display:block;
    width:100%;
    text-align:center;
    padding:9px 0;
    height:100%;
  }
  .site_title img {
    width:95px;
    vertical-align:middle;
  }
  .header_menu_button {
    display:none;
  }
  .header_menu {
    width:calc(100% - 180px);
    display:flex;
    background:white;
  }
  .header_menu li {
    width:150px;
  }
  .header_menu li img {
    width:16px;
    vertical-align:-2px;
    margin-right:5px;
  }
  .header_menu a {
    display:block;
    width:100%;
    height:100%;
    padding-top:14px;
    display:block;
    color:#444;
    font-size:14px;
    font-weight:bold;
    text-align:center;
  }
  .header_menu a:hover {
    opacity:0.8;
  }

  /* サービス */
  .services h2 {
    font-size:32px;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-image:url(/images/services/services-image.jpg);
    background-position:50% 50%;
    color:white;
    height:300px;
    padding-top:140px;
  }
  .services h2 a, .services h2 a:visited {
    text-decoration:none;
  }
  .services_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .services h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .services h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .services p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }

  .services h2 {
    font-size:32px;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-image:url(/images/services/services-image.jpg);
    background-position:50% 50%;
    color:white;
    height:300px;
    padding-top:140px;
  }
  .services h2 a, .services h2 a:visited {
    text-decoration:none;
  }
  .services_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .services h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  
  .services ul {
    display:flex;
    flex-wrap:wrap;
  }
  .services li {
    width:50%;
    border:1px solid #ddd;
  }
  .services li a {
    display:block;
    width:100%;
    padding:10px;
    color:#33f;
    height:100%;
    color:#2F2F22;
  }
  .services li a:hover {
    opacity:0.8;
  }
  .services li img {
    vertical-align:-17px;
    margin-right:10px;
  }
  .services li:nth-child(odd) {
    border-bottom:none;
  }
  .services li:nth-child(even) {
    border-left:none;
    border-bottom:none;
  }
  .services li:nth-last-child(2) {
    border-bottom:1px solid #ddd;
  }
  .services li:last-child {
    border-bottom:1px solid #ddd;
  }
  
  /* 会社情報 */
  .corporate h2 {
    font-size:32px;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-image:url(/images/corporate/corporate-image.jpg);
    background-position:50% 50%;
    color:white;
    height:300px;
    padding-top:140px;
  }
  .corporate h2 a, .corporate h2 a:visited {
    text-decoration:none;
  }
  .corporate_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .corporate h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .corporate h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .corporate p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }

  .corporate h2 {
    font-size:32px;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-image:url(/images/corporate/corporate-image.jpg);
    background-position:50% 50%;
    color:white;
    height:300px;
    padding-top:140px;
  }
  .corporate h2 a, .corporate h2 a:visited {
    text-decoration:none;
  }
  .corporate_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .corporate h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .corporate h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .corporate p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }

  /* 会社情報 */
  .corporate table {
    border-collapse: collapse;
    margin-left:15px;
    width:100%;
    max-width:1080px;
    margin-left:auto;
    margin-right:auto;
    font-size:15px;
    margin-bottom:50px;
    margin-top:50px;
  }
  
  .corporate table tr {
    border:1px solid #83b0de;
    border-right:none;
    border-left:none;
  }

  .corporate table th {
    padding:7px;
    background:#dbedff;
    font-weight:bold;
    padding:20px 20px;
    font-size:14px;
    color:#000;
  }

  .corporate table td {
    padding:7px;
    padding:20px 20px;
  }

  /* 学習教材 */
  .learning h2 {
    font-size:32px;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-image:url(/images/learning/learning-image.jpg);
    background-position:50% 50%;
    color:white;
    height:300px;
    padding-top:140px;
  }
  .learning h2 a, .learning h2 a:visited {
    text-decoration:none;
  }
  .learning_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .learning h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  .learning h4 {
    font-size:18px;
    font-weight:bold;
    padding:6px 0px 4px 5px;
    letter-spacing:0.5px;
    margin:15px 0 5px 0;
  }
  .learning p {
    font-size:16px;
    color:#111;
    margin:5px 0;
    line-height:1.9;
  }

  .learning h2 {
    font-size:32px;
    margin:0;
    padding:1px 0 0px 0px;
    letter-spacing:1px;
    text-align:center;
    background-image:url(/images/learning/learning-image.jpg);
    background-position:50% 50%;
    color:white;
    height:300px;
    padding-top:140px;
  }
  .learning h2 a, .learning h2 a:visited {
    text-decoration:none;
  }
  .learning_message {
    text-align:center;
    color:white;
    font-weight:bold;
    background: #1E65A6;
    background-size:4px 4px;
    padding:13px 0;
    letter-spacing:1px;
    line-height:1.9;
    font-size:16px;
  }

  .learning h3 {
    font-size:26px;
    padding:16px 0px 15px 18px;
    letter-spacing:0.5px;
    margin:15px 0 10px 0;
    margin-top:40px;
    color:#3c3c33;
    text-align:center;
  }
  
  .learning ul {
    display:flex;
    flex-wrap:wrap;
  }
  .learning li {
    width:50%;
    border:1px solid #ddd;
    border-bottom:none;
    border-right:none;
  }
  .learning li a {
    display:block;
    width:100%;
    padding:10px;
    color:#33f;
    height:100%;
    color:#2F2F22;
  }
  .learning li a:hover {
    opacity:0.8;
  }
  .learning li img {
    vertical-align:-17px;
    margin-right:10px;
  }
  .learning li:nth-child(2) {
    border-right:1px solid #ddd;
  }
  .learning li:nth-last-child(1) {
    border-bottom:1px solid #ddd;
  }
  .learning li:nth-last-child(2) {
    border-bottom:1px solid #ddd;
  }
  
  /* アクセス */
  .access-container {
    width:calc(100% - 30px);
    max-width:1080px;
    margin-left:auto;
    margin-right:auto;
  }
  
  /* advanced */
  .day {
    text-align:right;
    color:#999;
  }
  .before-days {
    text-align:center;
  }
  .side-list {
    box-shadow: 0 0 3px rgba(0,0,0,.1);
  }
  .side-list-title {
    background:#0070C0;
    color:white;
    font-weight:bold;
    padding: 11px 0px 9px 0px;
    text-align:center;
    border:1px solid #0070C0;
    border-bottom:none;
  }
  .side-list ul {
  }
  .side-list li {
    list-style:none;
    background:white;
    border:1px solid #D0D0DA;
    border-bottom:none;
    padding:12px 0px 10px 15px;
  }
  .side-list li:last-child {
    border-bottom:1px solid #D0D0DA;
  }
  .side-list li:first-child {
    border-top:none;
  }

  ol.bread {
    border:none;
    background:none;
    padding:0;
  }
  .bread li {
    display:inline-block;
    list-style-type:none;
    font-size:14px;
    margin:0;
    width:28px;
    height:28px;
  }
  .bread a {
    width:100%;
    background:#2090E0;
    color:white;
    border-radius:3px;
    text-decoration:none;
    display:block;
    padding:3px 3px;
  }
  .bread a:hover {
    background:#2090E0;
  }
  .bread a:visited {
    color:white;
  }
  
  .bread img {
    width:22px;
    vertical-align:-3px;
  }
  
  .to_top {
    text-align:center;
    margin-top:30px;
  }
  .to_top a {
    display:block;
    width:50px;
    height:50px;
    border-radius:50%;
    background:#eeeeff;
    border:1px solid #30a0F0;
    text-align:center;
    padding-top:10px;
    cursor:pointer;
    color:#0070C0;
    font-size:18px;
  }

/* Tablet and Smart phone */
@media only screen and (max-width:960px) {
  .header_title {
    flex-wrap:wrap;
    margin-bottom:10px;
    border-bottom:none;
  }
  
  /* tags */
  .site_title {
    width:calc(100% - 46px);
  }
  .site_title a {
    background:#2E75B6;
    display:block;
    width:100%;
    text-align:center;
    padding:9px 0;
    height:100%;
    border-bottom:1px solid #ddd;
  }
  .header_menu_button {
    display:block;
    width:46px;
    background:#2E75B6;
    cursor:pointer;
    border-bottom:1px solid #ddd;
  }
  .header_menu_button img {
    width:100%;
  }
  
  .header_menu {
    width:100%;
    flex-wrap:wrap;
    display:none;
  }
  .header_menu li {
    width:100%;
    border-bottom:1px solid #ddd;
  }
  .header_menu li img {
    display:none;
  }
  .header_menu a {
    color:white;
    font-size:16px;
    font-weight:normal;
    padding:0;
    padding:10px 0 8px 0;
    background:#2E75B6;
  }
  .header_menu a:hover {
    opacity:1;
    background:#3E85C6
  }

  .learning li {
    width:100%;
  }

  .learning li {
    border-right:1px solid #ddd;
  }
}
